.Timer {
    display: flex;
    align-items: center;
    img {
        width: 30px;
        margin-right: 10px;
    }
    p {
        font-size: 25px;
        font-weight: 600;
        color: rgb(196, 183, 0);
    }
}